body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #264653;

  color-scheme: light dark;
  background-color: #fefae0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.5;
  font-weight: 400;

}


#root {
  display: flex;
  flex-direction: row;
  min-width: 320px;
  min-height: 100vh;
}


a {
  font-weight: 500;
  color: #0e1262;
  text-decoration: none;
}

a:visited {
  text-decoration: none
}

button {

  border-radius: 8px;
  
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
  transition: border-color 2s;

}

button:hover {
  border-color: #646cff;
  background: aqua;
  transition: ease-in-out 0.5s;
  color: #020425;
}

span{
  font-weight: bolder;
}

/* ASIDE */

.asideLinksLogoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  text-align: center;
  padding: 20px;
  margin: 0px;
  flex-direction: column;
  background-color: #dda15e;
  height: 100%;
  gap: .2rem;
}

nav>img {
  padding: 5px;
  max-width: 6rem;
}




/* HOME PAGE */

.mainHomeContentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  
  place-content: center;
}

.aboutMeHomeSection {
  
  max-width: 41.01rem;

}

.nameTitleSection {
  display: flex;

  /*border-bottom: 1px solid;  separation between section */
  
}

.nameTitleSection>div>img {
  max-width: 20rem;
  border-radius: 5rem;
  padding: 1rem;

}
/* only for Home atm */
@media (width<650px) {

  #root {
    display: flex;
    flex-direction: column-reverse;
  }

  .asideLinksLogoContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    
  }

  nav {
    display: flex;
    flex-direction: row;
    padding: 0px;
    background-color: #dda15e;
    width: 100%;
    place-content: space-evenly;
  }





}

/* CV Page */
.mainCVContentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  
  place-content: center;
  
}

.personalDataAndOthersContainer{
  display: flex;
  flex-wrap: wrap;
  
  width: 100%;
  place-content: space-evenly;

}

.topCards{
  display: flex;
  flex-direction: column;

  border-radius: 2%;
  padding: 2rem;
}

.otherData{
  border: none;
}
.workExperienceContainer{
  display: flex;
  flex-direction: column;
  padding: 20px;
  
}
.secondPart{
  display: flex;
  border-top: 2px solid;
  border-radius: 2%;
  
}

.formacionContainer{
  display: flex;
  flex-direction: column;
  
}

.sidePositioning{
  padding-left: 20px;
}

.imgIcon{
  max-width: 20px;
}

.emptyDiv{
  border-right: 3px solid;
  border-radius: 30%;
}

.competences>ul {
    column-count: 2;
}

@media (width<860px) {

  .competences>ul {
    column-count: 1;
}





}